var detail = {
    "iphone": "亲爱的果粉📱：",
    "huawei": "亲爱的花粉🌼：",
    "honor": "亲爱的花粉💐：",
    "htc": "亲爱的肠粉🌯，htc现已退出中国大陆，感谢你的支持！",
    "meizu": "亲爱的煤油🛢️，追求源于热爱！",
    "mi": "Hello Mi fan! R U OK? 🔥，永远相信，美好的事情即将发生！",
    "nubia": "亲爱的牛仔🤠：",
    "oneplus": "亲爱的加油️⛽️，张老板，不讲究！",
    "oppo": "亲爱的O粉，充电五分钟，通话两小时！",
    "other": "欢迎使用本小程序！",
    "realme": "亲爱的O粉：",
    "redmi": "Hello Mi fan! R U OK 🔥?",
    "samsung": "亲爱的星粉🌟，三星现在‘真’不卡了！",
    "sony": "亲爱的索粉，请努力守护姨夫的微笑！",
    "smartisan": "亲爱的锤友🔨，理解万岁，又不是不能用！",
    "vivo": "亲爱的V粉，逆光也清晰，照亮你的美！"
  },
  bonus = function(e) {
    return detail[e]
  }

module.exports = {
  bonus: bonus
}