var detail = {
    "apple": "亲爱的果粉🍎，当你使用“万元MP4”打开本小程序时，请注意⚠️：",
    "huawei": "亲爱的花粉💐，当你使用自动P月亮的华为手机打开本小程序时，请注意⚠️：",
    "meizu": "亲爱的煤油，当你使用珠海小厂的手机打开本小程序时，请注意⚠️：",
    "mi": "Hello Mi fan! R U OK? 🔥\n 当你使用为发烧而生的小米手机打开本小程序时，请注意⚠️：",
    "oneplus": "亲爱的加油️⛽️，当你使用张老板的不讲究手机打开本小程序时，请注意⚠️：",
    "oppo": "亲爱的O粉，当你“充电五分钟”打开本小程序“两小时”，请注意⚠️：",
    "other": "欢迎使用本小程序！在你使用时，请注意⚠️：",
    "samsung": "亲爱的星粉🌟，当你使用越来越卡的三星手机打开本小程序时，请注意⚠️：",
    "sony": "亲爱的索粉，请努力守护姨夫的微笑！\n 当你打开本小程序时，请注意⚠️：",
    "smartisan": "亲爱的锤粉🔨，“理解万岁，又不是不能用！” \n 当你打开本小程序时，请注意⚠️：",
    "vivo": "亲爱的V粉，当你逆光也清晰时，请注意⚠️："
  },
  bonus = function(e) {
    return detail[e]
  }

module.exports = {
  bonus: bonus
}