var convert = function(e) {
  var time = getDate((parseInt(e) * 1000)),
    year = parseInt(time.getFullYear()),
    month = parseInt(time.getMonth() + 1),
    date = parseInt(time.getDate()),
    hour = parseInt(time.getHours()),
    minute = parseInt(time.getMinutes()),
    whichClass;

  var nowTime = getDate(),
    nowYear = parseInt(nowTime.getFullYear()),
    nowMonth = parseInt(nowTime.getMonth() + 1),
    nowDate = parseInt(nowTime.getDate());

  if (hour >= 0 && 10 >= hour)
    whichClass = "一二节"
  else if (hour >= 10 && 12 > hour)
    whichClass = "三四节"
  else if ((hour >= 12 && 14 > hour) || (hour === 14 && minute <= 40))
    whichClass = "五六节"
  else if ((hour >= 15 && 17 > hour) || (hour === 14 && minute > 40))
    whichClass = "七八节"
  else if (hour >= 17 && 20 >= hour)
    whichClass = "九十节"
  else if (hour > 20)
    whichClass = "十一十二节"

  if (year === nowYear && month === nowMonth && date === nowDate)
    return "今天 " + whichClass
  else if (year === nowYear && month === nowMonth && date === nowDate - 1)
    return "昨天 " + whichClass
  else if (year === nowYear && month === nowMonth && date === nowDate - 2)
    return "前天 " + whichClass
  else
    return year + "." + month + "." + date + " " + whichClass
}

module.exports = {
  convert: convert
}