var tagContent = {
    "1": "Word",
    "2": "PowerPoint",
    "3": "Excel",
    "4": "Pdf",
    "5": "Other"
  },
  tagColor = {
    "1": "blue",
    "2": "red",
    "3": "green",
    "4": "orange",
    "5": "brown"
  }

var content = function(e) {
  if (e.indexOf('word') != -1)
    return tagContent['1']
  else if (e.indexOf('presentationml') != -1 || e.indexOf('powerpoint') != -1)
    return tagContent['2']
  else if (e.indexOf('spreadsheetml') != -1)
    return tagContent['3']
  else if (e.indexOf('pdf') != -1)
    return tagContent['4']
  else
    return tagContent['5']
}

var color = function(e) {
  if (e.indexOf('word') != -1)
    return tagColor['1']
  else if (e.indexOf('presentationml') != -1 || e.indexOf('powerpoint') != -1)
    return tagColor['2']
  else if (e.indexOf('spreadsheetml') != -1)
    return tagColor['3']
  else if (e.indexOf('pdf') != -1)
    return tagColor['4']
  else
    return tagColor['5']
}

var detail = function(e) {
  return e.substring(0, e.lastIndexOf('.'))
}

module.exports = {
  tagContent: content,
  tagColor: color,
  detail: detail
}